/* css reset */
/* * {
  margin: -3px;
  padding: 1px;
} */

/* css variable */
:root {
  ---navbar-height: 59px;
}

body {
  font-family: 'Inter', sans-serif;
}

/* Navigatition bar */
#navbar {
  display: flex;
  align-items: center;
  display: inline-block;
}

/* Navigatition bar: logo and image */
#logo {
  margin: 31px 42px;
  display: inline-block;
}

#logo img {
  height: 60px;
  margin: -24px -35px;
  padding: 2px;
}

/* Navigatition bar: list-style */
#navbar ul {
  display: flex;
}

#navbar ul li {
  list-style: none;
  font-size: 20px;
}

#navbar ul li a {
  margin: 10px;
  /* background-color: #333333; */
  color: #333333;
  display: block;
  padding: 5px 23px;
  border-radius: 5px;
  text-decoration: none;
}

#navbar ul li a:hover {
  color: #29ABE2;
  background-color: #333333;
}



.owner {
  width: 300px;
  float: left;
}


element.style {
  border: 2px solid;
  display: inline;
}

p {
  padding-right: 585px;
  padding-left: 354px;
}

h1 {
  color: red;
  padding-right: 567px;
  padding-left: 166px;
  display: inline;
}

/* #ourmission{
  border: 3px solid #db2a2a;

} */